// diyoki.css --- stylink for the diyoki blog

@import 'partials/palette';

@mixin scheme-dark {
    // @include palette(hotpink, white, aquamarine, darkgrey);
}

@mixin scheme-light {
    // @include palette(white, #152535, crimson, #494949);
}

@import 'partials/apply-schemes';
@import 'partials/basics';

ul.postlist {
    padding: 0;

    li:not(:last-child) {
        border-bottom: 1px solid;
    }


    li {
        list-style-type: none;
    }
}

a.read {
    margin-bottom: .5em;
}
