<!-- search.html --- search with DuckDuckGo -->

<div id="searchbox">
  <p id="search">You can use this form to <strong>search this
    website</strong>.  Submitting this form will redirect your query
    to the <a href="https://duckduckgo.com/">DuckDuckGo</a> search
    engine.</p>
  <form id="search-form" action="https://duckduckgo.com/">
    <input type="hidden" name="sites" value="www.gkayaalp.com"/>
    <input type="text" name="q" value="" id="search-text"
           placeholder="Write your query and hit Enter / Return"/>
  </form>
</div>
